language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script: "make install-dependencies-dev"

script:
  - "make tests"
  - "make code-sniffer-cli"

notifications:
  irc:
    channels:
      - "chat.freenode.net#environaut"
    on_success: always
    on_failure: always
    use_notice: false
    skip_join: false
