{
    "name": "graste\/environaut\/example",
    "description": "Some check configurations as an example for a small (interactive) environment check.",
    "keywords": [ "environment", "requirements", "configuration", "check", "cli", "php" ],
    "introduction": [
        "This is some",
        "text."
    ],
    "export_implementor": "Environaut\\Export\\Export",
    "runner_implementor": "Environaut\\Runner\\Runner",
    "report_implementor": "Environaut\\Report\\Report",
    "checks": [
        {
            "name": "cache_dir",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "core.cache_dir",
            "question": "Geben Sie bitte ein schreibbares Verzeichnis an:",
            "choices": [
                "cache",
                "\/tmp",
                ".\/tests"
            ],
            "validator": "Environaut\\Checks\\Validator::writableDirectory"
        },
        {
            "name": "valid_ip",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "core.ipv4",
            "question": "Geben Sie bitte eine valide nicht-reservierte, nicht-private IPv4-Adresse ein:",
            "default": "195.74.70.239",
            "choices": [
                "240.0.0.1",
                "192.168.1.100",
                "127.0.0.1",
                "172.16.1.100",
                "10.0.0.1"
            ],
            "validator": "Environaut\\Checks\\Validator::validIpv4NotReserved"
        },
        {
            "name": "selection",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "selected_url",
            "question": "Welche URL bevorzugen Sie?",
            "choices": [
                "http:\/\/cms.honeybee-showcase.dev\/",
                "http:\/\/google.de\/",
                "http:\/\/heise.de\/"
            ],
            "select": true
        },
        {
            "name": "base_href",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "base_href",
            "question": "Wie lautet der BaseHref?",
            "default": "http:\/\/honeybee-showcase.dev\/",
            "choices": [
                "http:\/\/cms.honeybee-showcase.dev\/",
                "http:\/\/google.de\/",
                "http:\/\/heise.de\/"
            ],
            "validator": "Environaut\\Checks\\Validator::validUrl",
            "max_attempts": 5
        },
        {
            "name": "confirm",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "testing",
            "question": "Testmodus aktivieren?",
            "default": false,
            "confirm": true
        },
        {
            "name": "trololo",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "contact.name",
            "introduction": "Trololo is a video of the nationally-honored Russian singer Eduard Khil (AKA Edward Khill, Edward Hill) performing the Soviet-era pop song \u201cI am Glad, \u2018cause I\u2019m Finally Returning Back Home\u201d (Russian: \u042f \u043e\u0447\u0435\u043d\u044c \u0440\u0430\u0434, \u0432\u0435\u0434\u044c \u044f, \u043d\u0430\u043a\u043e\u043d\u0435\u0446, \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u044e\u0441\u044c \u0434\u043e\u043c\u043e\u0439). The video is often used as a bait-and-switch prank, in similar vein to the practice of Rickrolling.\n\nSource: http:\/\/knowyourmeme.com\/memes\/trololo-russian-rickroll\n\n",
            "question": "Wie lautet der Vorname des Trololo Manns?",
            "choices": [
                "Mr.",
                "Eduard",
                "Edward",
                "omgomgomg"
            ]
        },
        {
            "name": "contact",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "contact.email",
            "question": "Wie lautet seine Emailadresse?",
            "choices": [
                "mr.trololo@example.com"
            ],
            "validator": "Environaut\\Checks\\Validator::validEmail",
            "max_attempts": 5
        },
        {
            "name": "password",
            "class": "Environaut\\Checks\\Configurator",
            "setting_name": "core.password",
            "question": "Wie lautet das geheime Passwort?",
            "hidden": true,
            "allow_fallback": true
        }
    ]
}

